@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
  /* height: 150vh; */
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0%;
  overflow-x: auto;
}

/*to make the table scrollable*/
.tableWrap {
  height: 85vh;
  overflow: auto;
}

/* Set header to stick to the top of the container. */
thead tr th {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Set footer to stick to the top of the container. */
tfoot tr th {
  position: sticky;
  bottom: 0;
  z-index: 2;
}

td,
th {
  border: 2px solid rgb(173, 173, 173);
  position: relative;
  padding: 10px;
  text-align: center;
  min-width: 80px;
}

/*to have student name in one row in table header*/
th#st-name {
  min-width: 110px;
}

th {
  background-color: #f0f0f0;
  font-weight: 900;
}


/*three following styles for changing table cells color based on attendance status*/
td.present {
  position: relative;
  background-color: #effceb;
}

td.absent {
  position: relative;
  background-color: #f9edee;
}

td.late {
  position: relative;
  background-color: #fcf8e9;
}

table {
  border: 2px solid gainsboro;
  border-collapse: collapse;
}

/*the three circles with attendance option(present,absent,late)*/
.cirle {
  border: none;
  padding: 13px;
  border-radius: 50%;
  border: 1px solid transparent;
  font-size: 25px;
  background-color: #ffffff;
  box-shadow: 1px 1px 4px black;
  user-select: none;
  z-index: 0;
}

.cirle:hover {
  cursor: pointer;
  box-shadow: 3px 3px 10px black;
}

.cirle:active {
  box-shadow: -3px -3px 10px black;
}

/*the outer wrapper for popup adding or editing student box*/
.popup-wrapper {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: -30%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

/*the white wrapper that contains p element and form and buttons*/
.inner-wrapper {
  position: relative;
  width: 375px;
  height: 250px;
  background-color: white;
  padding: 40px;
  border-radius: 5px;
}

.inner-wrapper>p {
  font-weight: 900;
  font-size: 25px;
  margin: 0;
  margin-bottom: 0.8em;
}

.popup-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inp input {
  margin-left: 20px;
  border: 1px solid rgb(185, 185, 185);
}

.inp {
  margin-right: 10px;
  margin-bottom: 10px;
}


/*all buttons styling*/
.btn {
  display: inline-block;
  border: none;
  background-color: #f0f0f0;
  box-shadow: 3px 3px 0px #cfcdcd;
  margin: 5px;
  margin-top: 15px;
  padding: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  cursor: pointer;
  user-select: none;
}

.btn:active {
  box-shadow: none;
}


/*edit icon in the Num column*/
.edit {
  position: absolute;
  bottom: 5px;
  left: 1px;
  width: 24px;
  height: 23px;
  background-image: url("assets/editImage.jpg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.edit:active {
  transform: scale(0.9);
}

.refresh {
  position: absolute;
  top: 5px;
  left: 1px;
  width: 24px;
  height: 23px;
  background-image: url("assets/refresh.svg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.refresh:active {
  transform: scale(0.9);
}
